@import "theme";

#a-propos {
  #content {
    display: flex;
    gap: var(--space-m);
    align-items: center;
    @media screen and (max-width: $nav-layout-switch) {
      flex-direction: column;
    }
  }
}
