$space: 4px;
#mosaic {
  display: flex;
  flex-wrap: wrap;
  padding: $space;
  justify-content: center;
  img, video {
    border-radius: 10px;
    width: 400px;
    max-width: 50%;
    padding: $space;
    object-fit: cover;
  }
}
