$space: 4px;

#mosaic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-s);

  video {
    border-radius: 10px;
    width: 400px;
    max-width: calc(50% - var(--space-s) / 2);
    object-fit: cover;
  }

  .lightbox {
    width: 400px;
    max-width: calc(50% - var(--space-s) / 2);
    object-fit: cover;
    .content {
      display: none;
    }
    .miniature {
      height: 100%;
      width: 100%;
    }
    picture img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.basicLightbox__placeholder {
  border-radius: 10px;
  overflow: hidden;
  .description {
    color: white;
    background-color: rgba($color: #111, $alpha: 0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 14px 24px;

    h4 {
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
}
