@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@import "reset";
@import "theme";
@import "galerie";
@import "simulation";

html {
  --color-text: white;
  --color-background: black;
  --color-primary: white;
  --color-on-primary: black;
  --color-secondary: black;
  --color-on-secondary: white;
  --color-accent: #0060d1;
  --color-accent-light: #107eff;
  --color-on-accent: white;

  // ----------------------
  // Spacing
  // ----------------------
  --space-step: 1.8;
  --space-xs: 6px;
  --space-s: calc(var(--space-xs) * var(--space-step));
  --space-m: calc(var(--space-s) * var(--space-step));
  --space-l: calc(var(--space-m) * var(--space-step));
  --space-xl: calc(var(--space-l) * var(--space-step));
  --space-xxl: calc(var(--space-xl) * var(--space-step));

  // ----------------------
  // Size
  // ----------------------
  --size-step: 1.34;
  --size-xs: 10pt;
  --size-s: calc(var(--size-xs) * var(--size-step));
  --size-m: calc(var(--size-s) * var(--size-step));
  --size-l: calc(var(--size-m) * var(--size-step));
  --size-xl: calc(var(--size-l) * var(--size-step));
  --size-xxl: calc(var(--size-xl) * var(--size-step));

  // ----------------------

  height: 100%;
  background: var(--color-secondary);
  font-size: var(--size-s);

  text-align: justify;
}

a.cta {
  background: var(--color-accent);
  color: var(--color-on-accent);
  padding: var(--space-s) var(--space-s);
  border-radius: 5px;
  transition-property: background text-shadow;
  transition-duration: 0.4s;

  &:hover {
    background: var(--color-accent-light);
    text-shadow: 1px 0 0 var(--color-on-accent);
  }
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

img {
  border-radius: 10px;
}

body {
  @include font();
  background: var(--color-background);
  color: var(--color-text);
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding: var(--space-s);
  padding-top: var(--space-l);
  margin: auto;
  max-width: 800px;

  & > h1:first-child {
    margin-bottom: var(--space-l);
    @media screen and (max-width: $nav-layout-switch) {
      font-size: var(--size-s);
      font-weight: normal;
      position: absolute;
      top: calc(var(--space-s) + var(--space-xs));
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

a {
  color: var(--color-text);
  text-decoration: none;

  &:visited {
    color: var(--color-text);
  }
}

* {
  box-sizing: border-box;
}

header {
  margin: 7vh auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  @media (max-width: 500px) {
    margin: 5vh auto;
    flex-direction: column;

    img {
      width: 150px;
      height: auto;
      border-radius: 50%;
      margin: 0 0 5vh;
    }
    h1 {
      margin-bottom: 5vh;
    }
  }
  @media (min-width: 500px) {
    img {
      width: 200px;
      height: auto;
      border-radius: 50%;
      margin-right: 40px;
    }
    h1 {
      margin-bottom: 6px;
    }
  }

  img {
    border-radius: 50%;
    // box-shadow: 4px 4px 10px var(--color-primary);
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    margin: 10px 0 0;
  }

  .social {
    justify-content: center;
    margin-top: 26px;
    a {
      font-size: var(--size-s);
      height: 40px;
      width: 40px;
      padding-top: 10px;
      margin: 0 10px;
    }
  }

  p {
    letter-spacing: 1.7px;
    margin-top: 10px;
  }
}
.social {
  display: flex;
  gap: var(--space-m);
  a {
    background: var(--color-primary);
    border-radius: 50%;
    color: var(--color-on-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--size-m);
    width: calc(var(--size-m) + 2 * var(--space-s));
    height: calc(var(--size-m) + 2 * var(--space-s));
    transition: scale 0.2s;

    &:hover {
      scale: 1.1;
    }
  }
}

@import "nav";

h2 {
  font-size: 1.42em;
}

#apropos {
  text-align: justify;
  padding: 5vh 0;
  border-top: 2px solid var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
}

#gallery {
  margin: 7vh auto;
  display: flex;
  flex-wrap: wrap;
  .lightbox {
    flex: 1 1;
    min-width: 229px;
    padding: 4px;
    max-width: 100%;
    img {
      border-radius: 10px;
      width: 100%;
      height: auto;
    }
  }
}

footer {
  text-align: right;
  padding: var(--space-s);
  margin-top: var(--space-xxl);
  background: var(--color-secondary);

  .social {
    justify-content: right;
    gap: var(--space-xs);

    a {
      font-size: var(--size-xs);
      width: 30px;
      height: 30px;
      margin: 0;
    }
  }
}

@mixin text-contour($width, $blur) {
  $inv-size: $width * -1;
  text-shadow: $width $width $blur black, $width 0 $blur black,
    0 $width $blur black, $inv-size $inv-size $blur black,
    $inv-size 0 $blur black, 0 $inv-size $blur black,
    $width $inv-size $blur black, $inv-size $width $blur black;
}

@import "a-propos";
@import "accueil";
#tarifs {
  main {
    & > h1:first-child {
      display: none;
    }
  }
}
