@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@import "reset";
@import "theme";
@import "galerie";
@import "simulation";

html {
  --color-text: black;
  --color-background: white;

  --color-primary: #cba04a;
  --color-on-primary: white;

  --color-secondary: wheat;
  --color-on-secondary: black;

  --color-accent: #cba04a;
  --color-on-accent: white;

  background: var(--color-secondary);
}

body {
  @include font();
  background: var(--color-background);
}

a {
  color: var(--color-text);
  text-decoration: none;

  &:visited {
    color: var(--color-text);
  }
}

* {
  box-sizing: border-box;
}

#container {
  position: absolute;
  top: 50px;
  bottom: 50px;
  background: var(--color-background);
  overflow: auto;
  width: 100%;

  @media (max-width: $max-container-width) {
    padding: 0 2vh;
  }
}

.centering-div {
  margin: auto;
  max-width: 800px;
}

header {
  margin: 7vh auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  @media (max-width: 500px) {
    margin: 5vh auto;
    flex-direction: column;

    img {
      width: 150px;
      height: auto;
      border-radius: 50%;
      margin: 0 0 5vh;
    }
    h1 {
      margin-bottom: 5vh;
    }
  }
  @media (min-width: 500px) {
    img {
      width: 200px;
      height: auto;
      border-radius: 50%;
      margin-right: 40px;
    }
    h1 {
      margin-bottom: 6px;
    }
  }

  img {
    border-radius: 50%;
    box-shadow: 4px 4px 10px $light-color;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    margin: 10px 0 0;
  }

  .social {
    justify-content: center;
    margin-top: 26px;
    a {
      font-size: 1.2em;
      height: 40px;
      width: 40px;
      padding-top: 10px;
      margin: 0 10px;
    }
  }

  p {
    letter-spacing: 1.7px;
    margin-top: 10px;
  }
}
.social {
  display: flex;
  a {
    background: var(--color-primary);
    border-radius: 50%;
    text-align: center;
    color: var(--color-on-primary);
  }
}

@import "nav";

h2 {
  font-size: 1.42em;
}

#apropos {
  text-align: justify;
  padding: 5vh 20px;
  border-top: 2px solid var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
}

#gallery {
  margin: 7vh auto;
  display: flex;
  flex-wrap: wrap;
  .lightbox {
    flex: 1 1;
    min-width: 229px;
    padding: 4px;
    max-width: 100%;
    img {
      border-radius: 10px;
      width: 100%;
      height: auto;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  padding: 10px;
  background: var(--color-secondary);

  .social {
    justify-content: right;

    a {
      width: 30px;
      height: 30px;
      padding-top: 6px;
      margin: 0 4px;
    }
  }
}
