@import "theme";

#main-nav {
  display: flex;
  align-items: center;
  background: var(--color-secondary);

  @media (max-width: 614px) {
    a {
      display: none;
    }
    a#show-nav {
      display: block;
    }
  }
  @media (min-width: 614px) {
    a {
      display: block;
    }
    a#show-nav {
      display: none;
    }
  }
}

nav {
  top: 0;
  padding: var(--space-s);
  a {
    margin: 0;
    margin-left: var(--space-m);
    border-left: 1px var(--color-background);
    vertical-align: middle;
    flex-shrink: 0;
    border-radius: 5px;
    transition: text-shadow 0.4s;

    &:first-child {
      margin-left: 0;
    }

    &#home {
      font-size: var(--size-m);
      flex-grow: 1;
      display: block;
      text-decoration: underline;
    }

    &:hover,
    &.active {
      text-shadow: 1px 0 0 var(--color-text);
    }
  }
}

#mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-secondary);
  z-index: 10;
  display: none;
  padding: 40px;

  &.show {
    display: block;
  }

  a {
    text-align: center;
    display: block;
    margin-top: 40px;
    font-size: 1.4em;
  }

  #close-nav {
    position: absolute;
    margin: 0;
    right: 8px;
    top: 4px;
  }
}
