input[type="range"] {
  height: 28px;
  -webkit-appearance: none;
  appearance: none;
  margin: 10px 0;
  width: 100%;
  background: var(--color-background);
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px var(--color-secondary);
  background: var(--color-secondary-light);
  border-radius: 2px;
  border: 1px solid var(--color-secondary);
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px var(--color-secondary);
  border: 1px solid var(--color-secondary);
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: var(--color-accent);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--color-secondary-light);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px var(--color-secondary);
  background: var(--color-secondary-light);
  border-radius: 2px;
  border: 1px solid var(--color-secondary);
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px var(--color-secondary);
  border: 1px solid var(--color-secondary);
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: var(--color-accent);
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: var(--color-secondary-light);
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  box-shadow: 1px 1px 1px var(--color-secondary);
}
input[type="range"]::-ms-fill-upper {
  background: var(--color-secondary-light);
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  box-shadow: 1px 1px 1px var(--color-secondary);
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px var(--color-secondary);
  border: 1px solid var(--color-secondary);
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: var(--color-accent);
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: var(--color-secondary-light);
}
input[type="range"]:focus::-ms-fill-upper {
  background: var(--color-secondary-light);
}
