@import "./theme";

$price-col-width: 33%;
$top-distance: 5vh;
$style-change-width: 600px;

#simulation-columns {
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 961px;

  #result {
    @media (max-width: $style-change-width) {
      position: fixed;
      bottom: 0;
      width: 100%;
      background: var(--color-secondary);
      text-align: center;
      border-top: 2px solid var(--color-secondary);
      padding-top: 3vh;
      padding-bottom: 3vh;
      h2 {
        float: left;
      }
      .estimate {
        line-height: 100%;
        padding-bottom: 10px;
      }
      p {
        line-height: 1.2em;
      }
    }
    @media (min-width: $style-change-width) {
      padding-right: 5vh;
      width: $price-col-width;
      float: left;
      position: absolute;
      top: 0;
      left: 0;
    }

    a {
      text-decoration: underline;
      font-weight: bold;
    }

    p {
      margin-top: 20px;
      text-align: justify;

      &.estimate {
        margin-top: 0;
        text-align: center;
        font-size: 1.6em;
        font-weight: bold;
      }
    }
  }
}

#simulation {
  color: var(--color-text);
  width: 100%;
  .workflow-links {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2vh;

    button {
      flex-grow: 1;
      border-radius: 0;
      border: 1px solid var(--color-secondary);
      background: var(--color-secondary);
      font-family: Raleway, sans-serif;
      padding: 10px;
      cursor: pointer;
      font-size: 1em;

      &.active {
        background: var(--color-secondary-light);
        color: var(--color-on-secondary);
        font-weight: bold;
      }
    }
  }

  #workflow-content {
    padding-top: 30px;

    button {
      border: 1px solid var(--color-secondary);
      background: var(--color-secondary);
      padding: 10px 20px;
      @include font();
      font-size: 1.1em;
      cursor: pointer;
      margin-top: 20px;
      float: right;

      &:hover {
        color: var(--color-on-secondary);
        background: var(--color-secondary-light);
        font-weight: bold;
      }
      &.discret {
        border: none;
        background: none;
        text-decoration: underline;
        margin-top: 0;
        &:hover {
          color: var(--color-text);
        }
      }
    }
  }

  .actions {
    display: flex;
    margin-top: 20px;
    align-items: center;

    & > * {
      flex: 1 1;
    }

    .call-to-action {
      border: none;
      background: var(--color-accent);
      padding: 10px 20px;
      @include font();
      font-size: 1.1em;
      cursor: pointer;
      text-align: center;
      font-weight: normal;
      text-decoration: none;

      i {
        display: inline-block;
        margin-right: 10px;
      }

      &:hover {
        background: var(--color-accent-light);
        color: var(--color-on-secondary);
        font-weight: bold;
      }
    }
  }

  input[type="radio"] {
    display: none;
  }

  h2 {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--color-secondary);
    margin: 30px 0 15px;
    font-size: 1.4em;

    &:first-child {
      margin-top: 0;
    }
  }

  li {
    line-height: 1.5em;
  }
  li:before {
    content: "- ";
  }

  .radio-field {
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
    justify-content: space-between;
    margin-left: -1%;

    &.essence {
      label {
        max-width: 180px;

        .show {
          font-size: 3em;
        }
      }
    }

    label {
      position: relative;
      z-index: 0;
      flex: 1 1;
      min-width: 25%;
      margin-left: 1%;
      margin-bottom: 5px;
      border: 1px solid var(--color-secondary);
      cursor: pointer;
      transition: background 0.4s;

      &:hover {
        .image-title {
          background: var(--color-secondary-light);
          color: var(--color-on-secondary);
          font-weight: bold;
        }
      }

      i {
        display: none;
      }

      .show {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5em;
        color: var(--color-secondary);
        background-color: var(--color-on-secondary);
        border-radius: 50%;
      }

      .image-title {
        background-color: var(--color-secondary);
        padding: 6px;
        text-align: center;
      }

      img {
        width: 100%;
        border-top: 1px solid var(--color-secondary);
      }
    }
  }

  .estimation:after {
    content: " : ";
  }

  img {
    border-radius: 0;
  }

  .prix {
    position: relative;
    top: 2px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px;
  }

  a {
    text-decoration: underline;
    font-weight: bold;
  }

  p {
    margin-top: 10px;
    text-align: justify;

    &.image-title {
      margin-top: 0;
    }
  }
}
