$max-container-width: 800px;

$color-background: white;
$color-text: black;
$color-primary: #cba04a;
$color-secondary: wheat;
$color-accent: wheat;
$light-color: wheat;
$intense-color: #cba04a;

@mixin font {
  font-family: Raleway, sans-serif;
}

p {
  line-height: 1.5em;
}
@import "range";
