---
title: À propos
layout: layout/regular.njk
tags: page
---
<div id="a-propos" class="centering-div">
    <h1>À propos</h1>
    <div id="illustration">{% image "./public/images/profile.png", "By Tom" %}</div>
    <p>Apr&egrave;s avoir grandi en Bretagne, l&apos;atelier de mon p&egrave;re m&apos;a donn&eacute; l&apos;envie de travailler le bois. J&apos;ai donc commenc&eacute; &agrave; &eacute;tudier la menuiserie et les maisons ossature bois. Puis passionn&eacute; de l&apos;oc&eacute;an, la charpente navale &eacute;tait donc une &eacute;vidence. Dans ce milieu j&apos;ai d&eacute;couvert le composite. Apr&egrave;s deux ann&eacute;es &agrave; construire des buildings en Australie et Nouvelle-Z&eacute;lande j&apos;ai pris la d&eacute;cision d&apos;&eacute;tudier le composite, pour ensuite cr&eacute;er mon entreprise.</p>
    <div id="gallery">
        {% image "./public/images/gallery/129800039_165040181983965_5968623551789172798_n.jpg",
        "table rivière" %}
        {% image "./public/images/gallery/131077484_423227408820378_8364607633507053255_n.jpg",
        "table rivière" %}
        {% image "./public/images/gallery/131642600_206075814442993_4732789603262589356_n.jpg",
        "table rivière" %}
    </div>
</div>
