//---
title: L'atelier
layout: layout/mosaic.pug
tags: page
---//
video(controls poster='/public/images/atelier/poster-1.jpg')
    source(src='/public/images/atelier/IMG_0496.MP4')
img.lightbox(src='/public/images/atelier/118099423_876424116217649_7967789114886232096_n.jpg')
video(controls poster='/public/images/atelier/poster-2.jpg')
    source(src='/public/images/atelier/IMG_0267.MP4')
img.lightbox(src='/public/images/atelier/118110862_1201798246861964_2236748589674669149_n.jpg')
video(controls poster='/public/images/atelier/poster-3.jpg')
    source(src='/public/images/atelier/IMG_0290.MP4')
img.lightbox(src='/public/images/atelier/118150802_305063347384198_6839953831978417514_n.jpg')
img.lightbox(src='/public/images/atelier/118184956_798439130895676_4152878131272409566_n.jpg')
img.lightbox(src='/public/images/atelier/118225345_342757863544497_6241878109824686902_n.jpg')
img.lightbox(src='/public/images/atelier/118285094_724528054994605_5959122445517623738_n.jpg')
img.lightbox(src='/public/images/atelier/118581234_312067696675648_3155817745965718911_n.jpg')
img.lightbox(src='/public/images/atelier/118015725_346363983206204_4043210591500971104_n.jpg')