---
title: AWR
layout: layout/regular.njk
tags: page
id: accueil
---
<div class="carousel">
{% for realisation in realisations %}
{% image2 realisation.image, realisation.titre, realisation.description %}
{% endfor %}
</div>
<div class="centering-div">
    <header>
        {% image "./public/images/profile.png", "By Tom" %}
        <div id="description">
            <h1>L&apos;Atelier Wood&nbsp;River</h1>
            <h2>Tables rivi&egrave;re sur mesure</h2>
            <p>100% artisanal, 100% fran&ccedil;ais</p>

            {% include "layout/common/social.njk" %}
        </div>
    </header>
</div>
