//---
title: Tarifs
layout: layout/regular.pug
tags: page
callToAction: true
---//
main.centering-div
    #simulation
script(src="/public/js/simulation.js")
script.
    Elm.Main.init({node: document.getElementById("simulation")});
