<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | L&apos;Atelier Wood River</title>
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/basicLightbox.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" 
      integrity="sha256-5uKiXEwbaQh9cgd2/5Vp6WmMnsUr3VZZw0a8rKnOKNU=" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">       
  </head>
  <body id={{id}}>
    {% include "./common/nav.njk" %}
    <main>
      <h1>{{title}}</h1>
      {% block content %}
      {{ content | safe }}
      {% endblock %}
    </main>
    <footer>
      {% include "./common/social.njk" %}
    </footer>
    <script src="/js/nav.js"></script>
    <script src="/js/basicLightbox.min.js"></script>
    <script src="/js/ligthbox.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script>
      const splide = new Splide( '.splide', {type: 'loop', autoplay: 'pause', cover: true})
      splide.mount();
    </script>
    <script src="https://kit.fontawesome.com/36321d34e2.js" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
