{% extends "layout/regular.njk" %}

{% block content %}
    <div id="simulation"/>
{% endblock %}

{% block scripts %}
    <script src="/js/simulation.js"></script>
    <script>
        Elm.Main.init({
            node: document.getElementById("simulation"), 
        });
    </script>
{% endblock %}
